
<footer style="border-bottom: none; margin-bottom: 1em; padding-top: 3em;">
  <header style="background-color: var(--item-bg); border-bottom: none; margin: -1em; padding: 12px 24px; border-radius: 1em; margin-bottom: 1em;">
      <h2 style="margin: 0;">Mentions</h2>
      <p>Respond to this post on your own site. If you do,
      <a href="https://webmention.io/fundor333.com/webmention">send me a webmention</a> here. Find out
      more about webmentions on the <a href="https://indieweb.org/Webmention">IndieWeb</a>.</p>
  </header>
</footer>

{{- partial "webmention_response.html" . -}}
<hr>
